<article>
  <ul>
    <li>
      Автор: {{ post.author.username }}
      <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
    <p>
      {{ post.text|linebreaksbr }}
    </p>
      <a href="{% url 'posts:post_detail' post.pk %}">(подробная информация)</a>    
</article>
{% if post.group and not group %}
    <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
{% endif %}