{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="container col-lg-9 col-sm-12"> 
    <div class="row">
      <h3>Технологии</h3>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <br>
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
          <li class="list-group-item">
            HTML/CSS
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <br>
        <p>По всем техническим вопросам пишите на электронную почту:<b>karelin888@gmail.com</b></p>
      </article>
    </div>
  </div>
{% endblock %}