{% extends "base.html" %}
{% block content %}
<html lang="ru">
   <main>
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date|date:"d E Y" }} 
            </li>
            {% if post.group %}   
            <li class="list-group-item">
              Группа: <!-- Название группы -->
              <a href="{% url 'posts:group_list' post.group.slug %}">
                {{ post.group.title }}
              </a>
            </li>
            {% endif %}
            <li class="list-group-item">
              Автор: {{ post.author.username }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  {{ post.author.posts.count }}
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:profile' post.author.username %}">
                все посты пользователя
              </a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
            {{ post.text|linebreaks }}
        </p>
        {% if post.author == user %}
        <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">редактировать запись</a>
        {% endif %}
          </p>
        </article>
      </div> 
    </main>
    <footer class="border-top text-center py-3">
      <p>© <!--2022 --> Copyright <span style="color:red">Ya</span>tube</p>
    </footer>
  </body>
</html>
{% endblock %}